#boxA {
    display: flex;
    flex-wrap: wrap;
}
.boxT {
    line-height: 1.5em;
    margin: 5mm;
    padding: 2.5mm;
    background-color: gray; 
    text-align: center;
    flex: auto;
    flex: 1 1 0px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1), 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
    border-style: solid;
    border-color: black;
}
.boxT h2 {
    margin-top: 0;
    margin-bottom: 1mm;
}
.boxT .center {
    margin: auto;
}
.boxT span {
    font-size: 200%;
    font-weight: 700;
}
.boxT h1 {
    font-size: 200%;
    font-weight: 700;
    margin: 0;
    display: inline;
}
.boxT p {
    font-weight: 700;
    margin: 0;
}
#right {
    justify-content: flex-end;
}
.TNM {
    display: flex;
}
.test {
    white-space: nowrap;
    width: 185px;
    display: flex;
}